<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>RAZ</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Additional CSS Files -->
   <link rel="stylesheet" href="assets/css/style.css">
<!--
Tooplate 2114 Pixie
https://www.tooplate.com/view/2114-pixie
-->

    <style>
        #bodypri{
            background-color: black;
            color: white;
            font-size: medium;
           
        }
       #Pri1 p{ 
           text-align: center;
           color: white;
           font-size: medium;

       }
       p{
        color: white;
           font-size: medium;
       }
       hr{
           background-color:white;
       }
      
    </style>
  </head>

 <body>
    
    <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Worldwide Shipping!</span>
            <div class="right-side">
            <a href="login.html">Login</a>
         
            <i class="fa fa-shopping-cart"></i>
            <label>Cart</label>
              <input type="text" placeholder="Search.." name="search" >
          
            <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><h1 style="color: black;  font-family: ' Sans Pro'" >RAZ</h1>></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
<div id="bodypri">
        <div class="container">

            <header class="section-header text-center">
            <h1>Policies</h1>
            </header>
            <h1>Privacy Policy</h1>
            <hr>
            <div id="Pri1">
                <br>
                <br>
            <p>
                This Privacy Policy describes how we collect and use your personal information when you visit or make a purchase from INMYABAYA Website.
            </p>
            <br>
            <br>

            <ul>
                
                <li>All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.</li>
                <li>The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and standards. 
                    Therefore the Customers’ are encouraged to frequently visit these sections in order to be updated about the changes on the website. Modifications will be effective on the day they are posted.</li>
            </ul>
            </div>
            <br>
            <br>
            <br>

            <strong>How do we use your personal information?</strong>
            <br>
            <br>
            <p>We use the Order Information that we collect generally to complete  any orders placed through the  Website (including processing your payment information, 
                arranging for shipping, and providing you with invoices and/or order confirmations). 
                Additionally, we use this Order Information to:
            <br>
            - Communicate with you.
             <br>
             - Screen our orders for potential risk or fraud.
             <br>  
             - When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
             <br><br><br>
             We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns).
            </p>
            <br><br><br>
            <strong>Sharing your personal Information</strong>
            <br>
            <p>
                We share your Personal Information with third parties to help us use your Personal Information.
           <br>
           <br>
           Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
            </p>
            <br><br>
            <strong>Behavioral adevertising</strong>
            <br>
            <p>
                We use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you
            </p>
          <br><br>
          <strong>Changes</strong>
          <br>
          <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
         <br><br><br>
         <strong>Minors</strong>
         <br>
         <p>The Site is not intended for individuals under the age of 18.</p>
         <br><br><br>

         <strong>Contact Us</strong>
         <br>
         <p>For more information about our privacy practices, if you have questions, or if you would like to make a complain, please contact us by e‑mail at :<strong> info@inmyabya.co</strong></p>
<br><br><br>
 
           <hr>
            <h1>Return, Refund & Cancellation</h1>
            <hr>
            <br>
            <strong>Return and Refund policy and Payment Terms:</strong><br><br>
            <p>
                By using this service the customer accepts and agrees our Privacy Policy, Terms and Conditions, Shipping terms, and Return and Refund policy.
            </p>
            <br><br>
            <p>
                Kindly note that on our website, 
                <u>return any item on this website is not possible in any case,</u> once you choose the item and proceed to the checkout and pay, 
                you will not be able to return or exchange, or cancel the order.
                <br> <br>
                After the customer choose our products and proceed to checkout, 
                the customer will pay for the order and write all the information about the delivery and contact details. 
                The paid amount is not an object to refund, change, and the customers cannot cancel any payment after they pay. 
                The order cannot be canceled or changed.
                <br><br>
                Kindly note that, if the wrong item was sent to the customer, 
                or if the item got damaged or defected in shipping, 
                we are responsible to re-deliver the same item again to the customer.
                <br><br>
                If any refund is necessary:
                <br><br>
                <i>Refunds will be done only through the Original Mode of Payment.</i>
                <br><br>
                <i>For any questions please email us at info@inmyabaya.co</i><br><br><br>
            </p>
           
</div>
</div>
         <!-- Footer Starts Here -->
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <h1 style="color: black; margin-top: 8%;"> RAZ </h1>
              </div>
            </div>
            <div class="col-md-12">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="shipping.html">Shipping Terms</a></li>
                  <li><a href="privacy.html">Privacy Policy</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="social-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Ends Here -->
  
  
      <!-- Sub Footer Starts Here -->
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>Copyright &copy; 2021 RAZ 
                  
  <br>           
                  <i class="fa fa-cc-amex" style="font-size:24px"></i>
                  <i class="fa fa-cc-discover" style="font-size:24px"></i>
                  <i class="fa fa-cc-diners-club" style="font-size:24px"></i>
                  <i class="fa fa-google-pay" style="font-size:24px"></i>
                  <i class="fa fa-cc-jcb" style="font-size:24px"></i>
                  <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                  <i class="fa fa-cc-paypal" style="font-size:24px"></i>
                  <i class="fa fa-credit-card" style="font-size:24px"></i>
                  <i class="fa fa-google-wallet" style="font-size:24px"></i>
                  <i class="fa fa-cc-visa" style="font-size:24px"></i>
  
  
  
  
  
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sub Footer Ends Here -->

      <script src="js/include-html.js"></script>
    </body>
</html