<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>RAZ</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Additional CSS Files -->
   <link rel="stylesheet" href="assets/css/style.css">
<!--
Tooplate 2114 Pixie
https://www.tooplate.com/view/2114-pixie
-->

    <style>
        #bodypri{
            background-color: black;
            color: white;
            font-size: medium;
           
        }
       #Pri1 p{ 
           text-align: center;
           color: white;
           font-size: medium;

       }
       p{
        color: white;
           font-size: medium;
       }
       hr{
           background-color:white;
       }
      
    </style>
  </head>

 <body>
    
    
    

    <!-- Pre Header -->
    <!-- <div id="pre-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <span>Worldwide Shipping!</span>
              <div class="right-side">
              <a href="login.html">Login</a>
              <a href="signup.html">Sign Up </a>
              <i class="fa fa-shopping-cart"></i>
              <label>Cart</label>
                <input type="text" placeholder="Search.." name="search" >
            
              <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  
      <!-- Navigation -->
      <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#"><h1 style="color: black;  font-family: ' Sans Pro'">RAZ</h1>></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->

    <div w3-include-html="header.html"></div>
<div id="bodypri">
        <div class="container">

            <header class="section-header text-center">
                <br><br><br>
            <h1>Shipping & Delivery</h1>
            </header>
            <hr>
            <div id="Pri1">
                <br>
                <br>
            <p style="text-align: justify;">
                We at IN MY ABAYA, always try our best to serve you at the maximum level of proficiency. Some abayas are ready made and will be delivered in 3-7 days. Other custom orders may be by pre order only leaving 7-10 days for processing and shipping as they are designed specifically for you. In other words, once you place the order we start designing it for you. Please read every product description in order to understand which abaya is ready made and which are custom order.            
            <br>
            <br>

            <strong>We offer WORLDWIDE SHIPPING!</strong>
            <br><br><br>
            Proceed to check out to find rates for your location.

            <br><br><br>
            IN MY ABAYA is not responsible for any custom collection fees for each country as we are unable to know the cost before delivering. 
            Additional customs fees may apply for orders outside of the United Arab Emirates at the time of delivery. 
            For information on further custom charges and fees please contact your postal office more information.

            <br><br>
            *IN MY ABAYA is not responsible for any parcel a customer refuses to pay custom fees for and we will not refund any order that is not shipped back to us. IN MY ABAYA is also not responsible for any delays made by shipping services once leaving our facility.*
            <br><br>
            <b>IN MY ABAYA not responsible for any wrong address, phone number, or name. for any last minute possible changes please email us at info@inmyabaya.co with no guarantee on changes.</b>
            </p>
            </div>
            <br>
            <br>
            <br>

    </div>
</div>

<!-- Footer Starts Here -->
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <h1 style="color: black; margin-top: 8%;"> RAZ </h1>
              </div>
            </div>
            <div class="col-md-12">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="shipping.html">Shipping Terms</a></li>
                  <li><a href="privacy.html">Privacy Policy</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="social-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Ends Here -->
  
  
      <!-- Sub Footer Starts Here -->
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>Copyright &copy; 2021 RAZ 
                  
  <br>           
                  <i class="fa fa-cc-amex" style="font-size:24px"></i>
                  <i class="fa fa-cc-discover" style="font-size:24px"></i>
                  <i class="fa fa-cc-diners-club" style="font-size:24px"></i>
                  <i class="fa fa-google-pay" style="font-size:24px"></i>
                  <i class="fa fa-cc-jcb" style="font-size:24px"></i>
                  <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                  <i class="fa fa-cc-paypal" style="font-size:24px"></i>
                  <i class="fa fa-credit-card" style="font-size:24px"></i>
                  <i class="fa fa-google-wallet" style="font-size:24px"></i>
                  <i class="fa fa-cc-visa" style="font-size:24px"></i>
  
  
  
  
  
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sub Footer Ends Here -->
    
      
<script>
   includeHTML();
    </script>
    </body>
</html>